@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility text-shadow-sm {
  text-shadow: 0 1px 12px rgb(0 0 0 / 0.6);
}
